// ===========
//  LOADER
// ========
$loader-background-color: #fff;

// ===========
//  HEADER
// ========
$header-user-menu-link-color: #4c4b4c;
$header-desktop-navigation-link-color: #4c4b4c;

// ===========
//  SEARCH
// ========
$search-input-color: #bdbdbd;
$search-suggestions-color: #000;
$search-suggestions-border-color: #bdbdbd;
$search-suggestions-background-color: #fff;